body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper{
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
}

.top-wrapper h1{
    font-size: 45px;

}