html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper{
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    background-size: cover;
    height: 620px;
}

.container{
  width: 1170px;
  margin: 0 auto;
  padding: 180px 0 100px 0;
  text-align: center;
}

.top-wrapper h1,p{
  color: white;
  opacity: 0.7;
}

.top-wrapper h1{
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper a{
  color: white;
  opacity: 0.8;
}

.btn{
  padding: 8px 24px;
  display: inline-block;
  border-radius: 4px;
}

