html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

  .top-wrapper{
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
}

.top-wrapper{
  padding: 180px 0 100px 0;
  text-align: center;
}

.container{
  width: 1170px;
  margin: 0 auto;
}

.top-wrapper h1,p{
  color: white;
  opacity: 0.7;
}

.top-wrapper h1{
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper a{
  color: white;
  opacity: 0.8;
}

.btn{
  padding: 8px 24px;
  display: inline-block;
  border-radius: 4px;
}

.btn:hover{
  opacity: 1;
}

.signup{
  background-color: #239b76;
  margin: 30px 0 15px 0;
}

.Facebook{
  background-color: #3b5998;
  margin-top: 15px;
  margin-right: 10px;
}

.Twitter{
  background-color: #55acee;
}

header{
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo{
  width: 124px;
  padding-top: 20px;
  float: left;
}

.login{
  float: right;
  color: white;
  padding: 0 25px;
  line-height: 65px;
  background-color: rgba(255, 255, 255, 0.3);
}

.login:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.lesson-wrapper{
  height: 580px;
  text-align: center;
  background-color: #f7f7f7;
}

.heading{
  padding-top: 80px;
  padding-bottom: 50px;
}

.lesson-wrapper h2{
  font-weight: normal;
  color: #5f5d60;
}

.lesson{
  float: left;
  width: 25%;
}

.lesson-icon{
  position: relative;
}

.lesson-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
  opacity: 1;
}

.txt-contents{
  color: #b3aeb5;
  margin-top: 15px;
  width: 80%;
  font-size: 13px;
  display: inline-block;
  opacity: 1;
}

.message-wrapper{
  margin: 80px 0;
  text-align: center;
}

.message-wrapper h2,h3{
  color: #5f5d60;
}

.message-wrapper h2{
  font-weight: normal;
}