html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper{
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    background-size: cover;
    height: 620px;
}

.container{
  width: 1170px;
  margin: 0 auto;
  padding: 180px 0 100px 0;
  text-align: center;
}

.top-wrapper h1,p{
  color: white;
  opacity: 0.7;
}

.top-wrapper h1{
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper a{
  color: white;
  opacity: 0.8;
}

.btn{
  padding: 8px 24px;
  display: inline-block;
  border-radius: 4px;
}

.btn:hover{
  opacity: 1;
}

.signup{
  background-color: #239b76;
  margin: 30px 0 15px 0;
}

.Facebook{
  background-color: #3b5998;
  margin-top: 15px;
  margin-right: 10px;
}

.Twitter{
  background-color: #55acee;
}

header{
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo{
  width: 124px;
  padding-top: 20px;
  margin-left: 55px;
  float: left;
}

.login{
  float: right;
  color: white;
  padding: 0 25px;
  margin-right: 55px;
  line-height: 65px;
  background-color: rgba(255, 255, 255, 0.3);
}

.login:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.lesson-wrapper{
  height: 580px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 0 55px;
}